<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/node_modules/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/node_modules/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/node_modules/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/node_modules/assets/images/favicon.png" />
</head>
<body>
    <div class="container-scroller">
        <!-- partial:navbar -- partial:sidebar -->
        @await Component.InvokeAsync("NavSidebar")
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                @if (TempData["message"] != null)
                {
                    <div class="row" id="proBanner">
                        <div class="col-12">
                            <span class="d-flex align-items-center purchase-popup bg-gradient-success">
                                <p>@TempData["message"]</p>
                                <a class="btn ml-auto download-button"></a>
                                <a class="btn purchase-button"></a>
                                <i class="mdi mdi-close" id="bannerClose"></i>
                            </span>
                        </div>
                    </div>
                }
                @RenderBody()

            </div>
            <!-- partial:partials/_footer.html -->
            <footer class="footer">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2017 <a href="https://www.bootstrapdash.com/" target="_blank">BootstrapDash</a>. All rights reserved.</span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
                </div>
            </footer>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/node_modules/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="/node_modules/assets/vendors/chart.js/Chart.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/node_modules/assets/js/off-canvas.js"></script>
    <script src="/node_modules/assets/js/hoverable-collapse.js"></script>
    <script src="/node_modules/assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="/node_modules/assets/js/dashboard.js"></script>
    <script src="/node_modules/assets/js/todolist.js"></script>
    <!-- End custom js for this page -->
</body>
</html>